<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for error in errors %}
        <h3>{{ error }}</h3>
    {% endfor %}

    <form method="post">
        {% csrf_token %}
        <label for="username">Введите логин</label>
        <input type="text" id="username" name="username" maxlength="30" required><br>

        <label for="password">Введите пароль</label>
        <input type="text" id="password" name="password" minlength="8" required><br>

        <label for="repeat_password">Повторите пароль</label>
        <input type="text" id="repeat_password" name="repeat_password" minlength="8" required><br>

        <label for="age">Введите свой возраст</label>
        <input type="text" id="age" name="age" maxlength="3" required><br>

        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>